body,
ul,
li,
dl,
dt,
dd,
span,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
  list-style: none;
  font-size: 14px;
  font-family: "Ubuntu", "Arial", sans-serif;
}
img {
  border: none;
}
* {
  box-sizing: border-box;
}
