@font-face {
  font-family: 'demo';
  src: url('../font/iconfont.eot');
  /* IE9*/
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff') format('woff'), /* chrome、firefox */ url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-role=news]:before {
  font-family: demo;
  content: "\e608";
}
*[data-role=news][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e608";
  text-align: center;
}
*[data-role=news][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=news][icon-pos=right]:after {
  font-family: demo;
  content: "\e608";
}
*[data-role=news][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=news][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e608";
  display: block;
}
*[data-role=book]:before {
  font-family: demo;
  content: "\e607";
}
*[data-role=book][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e607";
  text-align: center;
}
*[data-role=book][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=book][icon-pos=right]:after {
  font-family: demo;
  content: "\e607";
}
*[data-role=book][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=book][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e607";
  display: block;
}
*[data-role=tiaoxin]:before {
  font-family: demo;
  content: "\e60f";
}
*[data-role=tiaoxin][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60f";
  text-align: center;
}
*[data-role=tiaoxin][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=tiaoxin][icon-pos=right]:after {
  font-family: demo;
  content: "\e60f";
}
*[data-role=tiaoxin][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=tiaoxin][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e60f";
  display: block;
}
*[data-role=add]:before {
  font-family: demo;
  content: "\e60a";
}
*[data-role=add][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60a";
  text-align: center;
}
*[data-role=add][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=add][icon-pos=right]:after {
  font-family: demo;
  content: "\e60a";
}
*[data-role=add][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=add][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e60a";
  display: block;
}
*[data-role=sou]:before {
  font-family: demo;
  content: "\e616";
}
*[data-role=sou][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e616";
  text-align: center;
}
*[data-role=sou][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=sou][icon-pos=right]:after {
  font-family: demo;
  content: "\e616";
}
*[data-role=sou][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=sou][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e616";
  display: block;
}
*[data-role=yonghu]:before {
  font-family: demo;
  content: "\e60e";
}
*[data-role=yonghu][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60e";
  text-align: center;
}
*[data-role=yonghu][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=yonghu][icon-pos=right]:after {
  font-family: demo;
  content: "\e60e";
}
*[data-role=yonghu][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=yonghu][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e60e";
  display: block;
}
*[data-role=return]:before {
  font-family: demo;
  content: "\e60c";
}
*[data-role=return][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e60c";
  text-align: center;
}
*[data-role=return][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=return][icon-pos=right]:after {
  font-family: demo;
  content: "\e60c";
}
*[data-role=return][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=return][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e60c";
  display: block;
}
*[data-role=more]:before {
  font-family: demo;
  content: "\e601";
}
*[data-role=more][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e601";
  text-align: center;
}
*[data-role=more][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=more][icon-pos=right]:after {
  font-family: demo;
  content: "\e601";
}
*[data-role=more][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=more][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e601";
  display: block;
}
*[data-role=xiaoxi]:before {
  font-family: demo;
  content: "\e620";
}
*[data-role=xiaoxi][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e620";
  text-align: center;
}
*[data-role=xiaoxi][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=xiaoxi][icon-pos=right]:after {
  font-family: demo;
  content: "\e620";
}
*[data-role=xiaoxi][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=xiaoxi][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e620";
  display: block;
}
*[data-role=shoucang]:before {
  font-family: demo;
  content: "\e614";
}
*[data-role=shoucang][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e614";
  text-align: center;
}
*[data-role=shoucang][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=shoucang][icon-pos=right]:after {
  font-family: demo;
  content: "\e614";
}
*[data-role=shoucang][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=shoucang][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e614";
  display: block;
}
*[data-role=youxi]:before {
  font-family: demo;
  content: "\e618";
}
*[data-role=youxi][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e618";
  text-align: center;
}
*[data-role=youxi][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=youxi][icon-pos=right]:after {
  font-family: demo;
  content: "\e618";
}
*[data-role=youxi][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=youxi][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e618";
  display: block;
}
*[data-role=gengduo]:before {
  font-family: demo;
  content: "\e612";
}
*[data-role=gengduo][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e612";
  text-align: center;
}
*[data-role=gengduo][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=gengduo][icon-pos=right]:after {
  font-family: demo;
  content: "\e612";
}
*[data-role=gengduo][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=gengduo][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e612";
  display: block;
}
*[data-role=lixian]:before {
  font-family: demo;
  content: "\e623";
}
*[data-role=lixian][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e623";
  text-align: center;
}
*[data-role=lixian][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=lixian][icon-pos=right]:after {
  font-family: demo;
  content: "\e623";
}
*[data-role=lixian][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=lixian][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e623";
  display: block;
}
*[data-role=yejian]:before {
  font-family: demo;
  content: "\e61b";
}
*[data-role=yejian][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e61b";
  text-align: center;
}
*[data-role=yejian][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=yejian][icon-pos=right]:after {
  font-family: demo;
  content: "\e61b";
}
*[data-role=yejian][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=yejian][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e61b";
  display: block;
}
*[data-role=dujia]:before {
  font-family: demo;
  content: "\e624";
}
*[data-role=dujia][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e624";
  text-align: center;
}
*[data-role=dujia][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=dujia][icon-pos=right]:after {
  font-family: demo;
  content: "\e624";
}
*[data-role=dujia][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=dujia][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e624";
  display: block;
}
*[data-role=fenlei]:before {
  font-family: demo;
  content: "\e621";
}
*[data-role=fenlei][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e621";
  text-align: center;
}
*[data-role=fenlei][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=fenlei][icon-pos=right]:after {
  font-family: demo;
  content: "\e621";
}
*[data-role=fenlei][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=fenlei][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e621";
  display: block;
}
*[data-role=huan]:before {
  font-family: demo;
  content: "\e615";
}
*[data-role=huan][icon-pos=top]:before {
  display: block;
  font-family: demo;
  content: "\e615";
  text-align: center;
}
*[data-role=huan][icon-pos=right]:before {
  font-family: demo;
  content: "";
}
*[data-role=huan][icon-pos=right]:after {
  font-family: demo;
  content: "\e615";
}
*[data-role=huan][icon-pos=bottom]:before {
  font-family: demo;
  content: "";
}
*[data-role=huan][icon-pos=bottom]:after {
  font-family: demo;
  content: "\e615";
  display: block;
}
